<section class="sec" id="home-subscribe">
    <div class="container">
        <h2 class="title">Join the community</h2>
        <div class="row">
            <div class="col-sm-6">
                <div class="description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore possimus suscipit illum pariatur culpa, Consequatur, perferendis!</p>
                </div>
            </div>
            <div class="col-sm-6">
                {% include social/mailchimp-signup.html %}
            </div>
        </div>
    </div>
</section>
