<!-- <section class="sec hero spread" id="home-about" data-stellar-background-ratio="0.5" style="background-image:url(/files/images/spreads/hoover-stock-4.jpg)"> -->
<section class="sec hero back-tile-dark" id="home-dd">
    <div class="container">
        <h2 class="text-center">
          Introducing "Democracy's Detectives":
        </h2>
        &nbsp;
        <p class="secondary-banner-statement">
          Investigative journalism is underprovided in the market, but new combinations of data and algorithms may make it easier for journalists to discover and tell the stories that hold institutions accountable. 
        </p>

    <div class="col-md-6">
    <img src="/files/images/photos/DemocracysDetectives_full.jpg" class="img-responsive">
    </div>
    <div class="col-md-6">
    <h5><a href="http://www.hup.harvard.edu/catalog.php?isbn=9780674545502" target="_blank">DEMOCRACY'S DETECTIVES: The Economics of Investigative Journalism</a></h5>
    <h5>By James T. Hamilton</h5>
    <p>Investigative journalism involves original work, about substantive issues, that someone wants to keep secret. 
    This means it is costly, underprovided in the marketplace, and often opposed. It gets done when a media outlet has the resources to cover the costs, has an incentive to tell a new story, cares about impacts, and overcomes obstacles. 
    Changes in media markets have put local investigative reporting particularly at risk. But new combinations of data and algorithms may make it easier for journalists to discover and tell the stories that hold institutions accountable.</p>
    <p>CJ Lab co-founder <a href="/pages/bios">Jay Hamilton</a> writes all about this in his new book, published Fall 2016.</p>
    </div>

        <center><a href="/democracys-detectives-jay-hamilton/" target="_blank" class="btn btn-primary" role="button">Learn more about the book</a></center>
<br>
            <div class="text-center">
                <a class="pushme" role="button" href="#home-subscribe" data-scroll>&#xf078;</a>
            </div>
    </div>
</section>
