<section class="sec major" id="home-hero">
    <div class="container">
        <div class="">
            <img id="home-logo" class="logo line img-responsive" src="{% asset_path logo_files/cj-logo.svg %}" alt="CJ Lab">
        </div>
        <div class="animate-intro">
            <p class="banner-statement">
                Using computational methods to uncover accountability stories that would otherwise go untold.
            </p>

            <div class="text-center">
                <a class="pushme" role="button" href="#home-about" data-scroll>&#xf078;</a>
            </div>
        </div>
    </div>
</section>
