<section class="major sec back-tile-white" id="home-features">
    <div class="container">
        <h2 class="text-center">
          We are working on:
        </h2>
&nbsp;

        <div class="row">
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/initiatives/#courses-section">
                    <a href="/initiatives/#courses-section"><img class="img-responsive img-rounded" src="/files/images/icons/datajournalismclasses_squareicon.jpg"></a>
                    <h4>Pioneering a data-focused curriculum</h4>
                    <p class="description">
                        At Stanford, we've launched five new courses focused on public affairs reporting, computational methods and investigative journalism. We're also exploring immersive storytelling with virtual reality and 360-degree video in a new class.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/projects/california-civic-data-coalition/">
                    <a href="/projects/california-civic-data-coalition/"><img class="img-responsive img-rounded" src="/files/images/icons/CCDC_2016_squareicon.png"></a>
                    <h4>Decoding campaign finance data</h4>
                    <p class="description">
                        We're helping the California Civic Data Coalition make the state's arcane database tracking money in politics easy to mine -- a project recently awarded $250,000 by Knight Foundation.
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp;
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clickable feature">
                    <a href="/initiatives#community"><img class="img-responsive img-rounded" src="/files/images/icons/conferences_squareicon.jpg"></a>
                    <h4>Building a data journalism community</h4>
                    <p class="description">
                        We host Hacks/Hackers meetups at Stanford and are hosting <a href="http://journalism.stanford.edu/cj2016" target="_blank">the 2016 Computation + Journalism Symposium</a> at Stanford this year.
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp;
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center">
            <a class="pushme" role="button" href="#home-subscribe" data-scroll>&#xf078;</a>
        </div>
    </div>
</section>
