<section class="sec major" id="home-hero">
    <div class="container">
        <div class="animate-intro">
            <img id="home-logo" class="logo line img-responsive" src="/assets/images/cj-logo-line.png" alt="CJ Lab">
        </div>
        <p class="mission-statement">
            Using computational journalism to uncover accountability stories that would otherwise go untold.
        </p>
        <div class="call-to-action">
            <a class="btn btn-primary-outline" role="button" href="#home-about" data-scroll>Learn more</a>
        </div>
    </div>
</section>
