<!-- <section class="sec hero spread" id="home-about" data-stellar-background-ratio="0.5" style="background-image:url(/files/images/spreads/hoover-stock-4.jpg)"> -->
<section class="sec hero back-tile-dark" id="home-about">
    <div class="container">

        <p class="secondary-banner-statement">
          How can we lower the costs of discovering stories through better use of data and algorithms?
        </p>

        <p class="secondary-banner-statement">
           How might we tell stories in more personalized and engaging ways?
        </p>


        <p class="secondary-banner-statement">
          Get involved in our courses, projects, speaker events and research opportunities, as we work to change the way stories are discovered and told.
        </p>


            <div class="text-center">
                <a class="pushme" role="button" href="#home-features" data-scroll>&#xf078;</a>
            </div>


    </div>
</section>
