<!-- <section class="sec hero spread" id="home-about" data-stellar-background-ratio="0.5" style="background-image:url(/files/images/spreads/hoover-stock-4.jpg)"> -->
<section class="sec hero back-tile-dark" id="home-about">
    <div class="container">
        <h2 class="text-center">
          We focus on:
        </h2>
        &nbsp;
        <p class="secondary-banner-statement">
          How can we use data and algorithms to lower the costs of discovering stories?
        </p>

        <p class="secondary-banner-statement">
           How do we tell stories in more personalized and engaging ways?
        </p>
<br>
        <h2 class="text-center">
          We are:
        </h2>
        &nbsp;
        <p class="secondary-banner-statement">
          Journalists, academics, and computer scientists -- all part of the interdisciplinary ecosystem of journalism innovation at Stanford.
        </p>

    <center><a href="/about" target="_blank" class="btn btn-primary" role="button">Learn more about us</a></center>
<br>  
            <div class="text-center">
                <a class="pushme" role="button" href="#home-features" data-scroll>&#xf078;</a>
            </div>


    </div>
</section>
