<section class="major sec back-tile-neutral" id="home-features">
    <div class="container">
        <h1 class="sec-title">Featured Items</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam laudantium quae deserunt. Commodi ullam ab doloribus suscipit dolorum. Quasi placeat alias perspiciatis ipsam, dicta assumenda neque doloribus animi obcaecati odio!</p>
        <div class="text-center">
            <a class="pushme" role="button" href="#home-subscribe" data-scroll>&#xf078;</a>
        </div>
    </div>
</section>
