<section class="major sec back-tile-white" id="home-features">
    <div class="container">
        <h2 class="text-center">
          We are working on:
        </h2>
&nbsp;

        <div class="row">
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/initiatives/#courses-section">
                    <a href="/initiatives/#courses-section"><img class="img-responsive img-rounded" src="/files/images/icons/datajournalismclasses_squareicon.jpg"></a>
                    <h4>Pioneering a data-focused curriculum</h4>
                    <p class="description">
                        We've launched five new Stanford courses focused on public affairs reporting, computational methods and investigative journalism. We're also exploring immersive storytelling with virtual reality and 360-degree video in a new class.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/projects/california-civic-data-coalition/">
                    <a href="/projects/california-civic-data-coalition/"><img class="img-responsive img-rounded" src="/files/images/icons/CCDC_2016_squareicon.png"></a>
                    <h4>Decoding campaign finance data</h4>
                    <p class="description">
                        We're helping the California Civic Data Coalition make the state's arcane database tracking money in politics easy to mine -- a project awarded $250,000 by Knight Foundation.
                        &nbsp; <br>
                        &nbsp;
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/initiatives#community">
                    <a href="/initiatives#community"><img class="img-responsive img-rounded" src="/files/images/icons/conferences_squareicon.jpg"></a>
                    <h4>Building a data journalism community</h4>
                    <p class="description">
                        We host Hacks/Hackers meetups at Stanford and are hosting <a href="http://journalism.stanford.edu/cj2016" target="_blank">the 2016 Computation + Journalism Symposium</a> at Stanford this year.
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp;
                    </p>
                </div>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/projects/law-order-algorithms/">
                    <a href="/projects/law-order-algorithms/"><img class="img-responsive img-rounded" src="/files/images/photos/laworderalgorithms.jpg"></a>
                    <h4>Investigating American traffic stop data</h4>
                    <p class="description">
                        The Law, Order & Algorithms project at Stanford is continuing to collect, clean and analyze more than 100 million records of police interactions data, including traffic stops across American highways.
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/projects/vr-public-affairs-immersive-storytelling/">
                    <a href="/projects/vr-public-affairs-immersive-storytelling/"><img class="img-responsive img-rounded" src="/files/images/photos/NaomiCornman_360Video_CreditJamieStark.jpg"></a>
                    <h4>Exploring immersive storytelling</h4>
                    <p class="description">
                        We are establishing best practices and ideal scenarios for using 360-degree video and virtual reality technology in immersive storytelling.
                        &nbsp; <br>
                        &nbsp;
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="clickable feature" data-href="/initiatives#tutorials-section">
                    <a href="/initiatives#tutorials-section"><img class="img-responsive img-rounded" src="/files/images/icons/tutorials/search-script-scrape.png"></a>
                    <h4>Publishing a library of data tutorials</h4>
                    <p class="description">
                        We are adding more and more free, online resources to get your feet wet in data analysis and reporting.
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp; <br>
                        &nbsp;
                    </p>
                </div>
            </div>
        </div>
<br>
    <center><a href="/initiatives" target="_blank" class="btn btn-primary" role="button">See more initiatives</a></center>
<br>
        <div class="text-center">
            <a class="pushme" role="button" href="#home-subscribe" data-scroll>&#xf078;</a>
        </div>
    </div>
</section>
