
.layout-homepage{
  .call-to-action{
    text-align: center;
  }

  .banner-statement{
    font-size: $font-size-h2;
    text-align: center;
    font-weight: bold;
  }

  .secondary-banner-statement{
    font-size: $font-size-h2;
    text-align: center;
  }
}

  #home-hero{
    @extend .tessel_back;
    // background-image: url("/files/images/photos/cj-background.jpg");
    // background-attachment: fixed;
  }

  #home-logo{
    max-width: 98%;
    margin: 0.5em auto 1.2em;
  }


  .home-cal{
    padding: 20px;
    .title{
      font-size: 1.1rem;
      color: #8C1515;
      margin-bottom: 0;
    }
    .banner-statement {
        font-size: $font-size-h2;
        text-align: center;
    }
}


  #home-about {

    .home-cal {
        padding: 20px;
        .title {
            font-size: 1.1rem;
            color: #8C1515;
            margin-bottom: 0;
        }
    }
    .news-list {
        .post-title {
            font-size: $font-size-lg;
            margin: 1px 0;
        }
    }
}

#home-subscribe {
    background-color: $brand-primary;
    padding: 3.0em 0;
    text-shadow: 1px 1px 1px #FFF;

    .description,
    .sec-title {
        text-shadow: 1px 1px 1px #000;
        color: white;
    }
}
