
.layout-homepage{
  .call-to-action{
    text-align: center;
  }

  .banner-statement{
    font-size: $font-size-h2;
    text-align: center;
  }

  .secondary-banner-statement{
    font-size: $font-size-h3;
    text-align: center;
  }
}

  #home-hero{
    @extend .back-tile-neutral;
    // background-image: url("/files/images/photos/cj-background.jpg");
    // background-attachment: fixed;
  }

  #home-logo{
    max-width: 98%;
    margin: 0.5em auto 2.0em;
  }


  .home-cal{
    padding: 20px;
    .title{
      font-size: 1.1rem;
      color: #8C1515;
      margin-bottom: 0;
    }
    .banner-statement {
        font-size: $font-size-h2;
        text-align: center;
    }
}


  #home-about {

    .home-cal {
        padding: 20px;
        .title {
            font-size: 1.1rem;
            color: #8C1515;
            margin-bottom: 0;
        }
    }
    .news-list {
        .post-title {
            font-size: $font-size-lg;
            margin: 1px 0;
        }
    }
}

#home-subscribe {
    .sec-title {
        color: white;
        text-shadow: 1px 1px 1px #000;
    }
}
