.sec-shadow{
   box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.layout-homepage{
  .call-to-action{
    text-align: center;
  }

  .banner-statement{
    font-size: $font-size-h2;
    text-align: center;
  }

  .secondary-banner-statement{
    font-size: $font-size-h3;
    text-align: center;
    width: 90%;
    margin-bottom: 2.0em;
    margin-left: auto;
    margin-right: auto;
  }
}

  #home-hero{
    @extend .back-tile-neutral;
    // background-image: url("/files/images/photos/cj-background.jpg");
    // background-attachment: fixed;
  }

  #home-logo{
    max-width: 98%;
    margin: 0.5em auto 2.0em;
  }


#home-about{
  @extend .sec-shadow;
}

#home-subscribe {
    @extend .sec-shadow;
    .sec-title {
        color: white;
        text-shadow: 2px 2px 2px #000;
    }
}





#home-features{
  .feature{
    .description{
      font-size: $font-size-sm;
    }

    img{
      margin-bottom: 1.0em;
    }
  }
}
