---
title: About the CJ Lab
image_url: /files/images/photos/StanfordColumns_overlay_red.jpg
banner: true
layout: landing-page
---




<section class="sec major">
    <div class="container">
        {% include_md about/about-intro.md %}
    </div>
</section>
<section class="sec major">
    <div class="container">
        {% include about/about-team.html %}
    </div>
</section>
<section class="sec major">
    <div class="container">
        {% include_md about/about-find-us.md %}
    </div>
</section>
