---
title: Contact Us
layout: landing-page
image_url: /files/images/photos/stanforddish.jpg
banner: true
---
<section class="sec">
    <div class="container">
        {% include about/about-find-us.html %}
    </div>
</section>

<div class="sec">
  <div class="container">
      <h2>Sign-up for our newsletter</h2>
        {% include social/newsletter-section.html %}
  </div>
</div>

<div class="sec">
    <div class="container">
<h2><a id="Getting_Involved_0"></a>Getting Involved</h2>
<p>There are many ways to become engaged with the work of the Stanford CJ Lab, including <a href="/initiatives#projects-section">projects</a>, <a href="/initiatives#courses-section">classes</a>, <a href="/initiatives#tutorials-section">tutorials</a>, <a href="/initiatives#community-section">conferences and meet-ups</a>. We want to hear from you. <a href="/contact">Contact us</a>.</p>
<p>If you are interested in following trends in journalism and computation, you can:</p>
<p><strong>Subscribe to newsletters from:</strong></p>
<ul>
<li><a href="https://www.americanpressinstitute.org/"><strong>American Press Institute</strong></a></li>
<li><a href="http://www.niemanlab.org/"><strong>Nieman Lab</strong></a></li>
<li><a href="http://www.thegovlab.org/"><strong>GovLab</strong></a></li>
<li><a href="https://mondaynote.com/"><strong>Monday Note</strong></a></li>
</ul>
<p><strong>Get on events email list for:</strong></p>
<ul>
<li><a href="http://cjlab.stanford.edu/"><strong>Stanford Computational Journalism Lab</strong></a></li>
<li><a href="https://iriss.stanford.edu/"><strong>Stanford Institute for Research in the Social Sciences</strong></a></li>
<li><a href="https://iriss.stanford.edu/css"><strong>Stanford Center for Computational Social Science</strong></a></li>
<li><a href="https://law.stanford.edu/codex-the-stanford-center-for-legal-informatics/"><strong>Stanford Codex</strong></a></li>
</ul>
<p><strong>Join:</strong></p>
<ul>
<li><a href="http://hackshackers.com/"><strong>Hacks/Hackers</strong></a></li>
</ul>
<p><strong>Follow on Twitter:</strong></p>
<ul>
<li><a href="https://twitter.com/StanfordJourn"><strong>Stanford Journalism Program (@StanfordJourn)</strong></a></li>
</ul>
<p><strong>Explore:</strong></p>
<ul>
<li><a href="http://journalism.stanford.edu/125years/"><strong>125 Years of Journalism at Stanford</strong></a></li>
</ul>
<p><strong>Apply:</strong></p>
<ul>
<li>Stanford students can apply for <a href="http://brown.columbia.edu/propose"><strong>MAGIC grants</strong></a>, which support innovative media projects.</li>
</ul>
<p><strong>Take a Stanford class:</strong></p>
<ul>
<li><a href="http://www.padjo.org/"><strong>COMM 273D: Public Affairs Data Journalism I</strong></a></li>
<li><a href="http://storybytes.org"><strong>COMM 274D: Public Affairs Data Journalism II</strong></a></li>
<li><a href="http://www.compciv.org/"><strong>COMM 213: Computational Methods in the Civic Sphere</strong></a></li>
<li><a href="http://www.compjour.org/"><strong>COMM 277A: Computational Journalism</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;academicYear=&amp;q=COMM+277I&amp;collapse="><strong>COMM 277I: Becoming a Watchdog</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;academicYear=&amp;q=comm+280+virtual&amp;collapse="><strong>COMM 280: Virtual Reality Journalism in the Public Sphere</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;academicYear=&amp;q=media+economics+COMM+242&amp;collapse="><strong>COMM 242/COMM 142W: Media Economics</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;academicYear=&amp;q=ECON+255+Gentzkow&amp;collapse="><strong>ECON 255: Economics of Communication</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;academicYear=&amp;q=STATS+101&amp;collapse="><strong>STATS 101: Data Science 101</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;academicYear=&amp;q=ENGR+150+Behrman&amp;collapse="><strong>ENGR 150: Data Challenge Lab</strong></a></li>
<li><a href="https://explorecourses.stanford.edu/search?view=catalog&amp;filter-coursestatus-Active=on&amp;page=0&amp;catalog=&amp;q=ENGR+350%3A+Data+Impact+Lab&amp;collapse="><strong>ENGR 350: Data Impact Lab</strong></a></li>
<li><a href="https://cyber.stanford.edu/get-involved/students"><strong>Stanford Cyber Initiative courses</strong></a></li>
<li><a href="http://hci.stanford.edu/"><strong>Stanford HCI Group</strong></a></li>
</ul>
<p><strong>If you’re a potential student, apply for:</strong></p>
<ul>
<li><a href="http://admission.stanford.edu/"><strong>Undergraduate programs at Stanford</strong></a></li>
<li><a href="http://journalism.stanford.edu/admissions/applications/"><strong>Stanford MA Journalism</strong></a></li>
<li><a href="https://comm.stanford.edu/phd/"><strong>Stanford PhD Communicaton</strong></a></li>
</ul>
<p><strong>If you’re a journalist or media executive, apply for:</strong></p>
<ul>
<li><a href="http://jsk.stanford.edu/become-a-fellow/"><strong>John S. Knight Journalism Fellowship at Stanford</strong></a></li>
<li><a href="http://hstar.stanford.edu/visitors"><strong>HSTAR Fellowship</strong></a></li>
</ul>
</div>
</div>
