---
layout: homepage
title: Stanford Computational Journalism Lab
---

<section id="homepage-banner" class="sec">
  {% include homepage/banner.html %}
  <div class="nav">
    <div class="container">
       <ul class="list-inline">
          {% include nav-list-items.html %}
        </ul>
      </div>
  </div>
</section>





<section class="sec">
  <div class="container">
    <p><strong>COMING SOON:</strong> September 2015</p>

    {% include news-list.html limit=5 %}

    <p>See the <a href="/news">latest news</a>.</p>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium sequi, officia quaerat impedit beatae modi accusantium esse explicabo illum expedita velit dolore, voluptate iure sint, minima atque ab architecto corporis.
    </p>
  </div>
</section>



<section class="sec">
  <div class="container">
    <p>Aspernatur consectetur soluta, harum totam minima quae repellendus itaque. Earum recusandae dolorem aliquam. Quidem autem, ab. Saepe molestias ullam vel officiis, quas tempora iure eos ea, beatae corporis suscipit pariatur.</p>

    <p>Alias aliquam a, quod fugiat. Unde animi quibusdam saepe culpa quaerat, impedit voluptates dolores ullam esse alias. Quas, quia. Dicta facilis corporis enim in commodi veniam, omnis cum aliquid voluptas.</p>
  </div>
</section>



<section class="sec">
  <div class="container">
    <h3>Upcoming events</h3>
    <div class="home-cal">
      {% include events-listing.html limit=3 %}
      <p>
        <a href="/events">See all events</a>
      </p>
    </div>
  </div>
</section>
