---
title: Our Initiatives
layout: landing-page
image_url: /files/images/photos/stanfordcolumns.jpg
banner: true
---

<section id="community-section" class="sec major back-tile-white">
    <div class="container">

      <div class="row">
        <div class="col-sm-8">
          <img src="/files/images/icons/CJSymposium_logo.png" class="img-responsive">

          <div class="description">
            <p>In Fall 2016, we will host the <strong>Computation + Journalism Symposium</strong> at Stanford. The annual conference explores the interface between journalism and computing.</p>


            <p><strong>Previous years:</strong></p>
            <ul class="list-unstyled">
              <li>
                <a href="http://cj2015.brown.columbia.edu/" target="_blank">2015 C+J Symposium</a>
              </li>
              <li>
                <a href="http://computation-and-journalism.brown.columbia.edu/" target="_blank">2014 C+J Symposium</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <img src="/files/images/icons/HacksHackers_logo.gif"  class="img-responsive">

          <div class="description">We hope to launch a <a href="http://www.meetup.com/hacksandhackers/events/226169900/" target="_blank"><strong>Hacks/Hackers</strong></a> chapter at Stanford. The group will host quarterly events on campus that bring journalists ("hacks") and technologists ("hackers") from the Stanford and wider Silicon Valley communities together.</div>
        </div>
      </div>

    </div>
</section>



<section id="projects-section" class="sec major">
    <div class="container">
        {% include projects_page/projects_section.html %}
    </div>
</section>


<section id="courses-section" class="sec major back-tile-white">
    <div class="container">
        {% include projects_page/courses_section.html %}
    </div>
</section>


<section id="tutorials-section" class="sec major">
    <div class="container">
        {% include projects_page/tutorials_section.html %}
    </div>
</section>

