---
title: Our Initiatives
layout: landing-page
image_url: /files/images/spreads/hoover-stock-3.jpg
banner: true

---

<section id="meetups-section" class="sec major back-tile-neutral">
    <div class="container">
      <h1 class="sec-title">
        Gatherings
      </h1>

      <div class="row">
        <div class="col-sm-8">
          <h3>Computational Conferences</h3>
          <div class="description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam maiores iure natus consequuntur excepturi accusantium, et in ut doloribus ullam ducimus mollitia totam tempora blanditiis ad impedit eligendi illum facilis.
          </div>
        </div>
        <div class="col-sm-4">
          <h3>Hacks/Hackers</h3>
          <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate architecto earum eligendi.</div>
        </div>
      </div>

    </div>
</section>



<section id="projects-section" class="sec major">
    <div class="container">
        {% include projects_page/projects_section.html %}
    </div>
</section>


<section id="courses-section" class="sec major back-tile-neutral">
    <div class="container">
        {% include projects_page/courses_section.html %}
    </div>
</section>


<section id="tutorials-section" class="sec major">
    <div class="container">
        {% include projects_page/tutorials_section.html %}
    </div>
</section>

