---
title: Our Initiatives
layout: landing-page
image_url: /files/images/photos/ExcelBridgeData_overlay_red.jpg
banner: true
---

<section id="projects-section" class="sec major">
    <div class="container">
        {% include projects_page/projects_section.html %}
    </div>
</section>
<section id="courses-section" class="sec major">
    <div class="container">
        {% include projects_page/courses_section.html %}
    </div>
</section>
<section id="tutorials-section" class="sec major">
    <div class="container">
        {% include projects_page/tutorials_section.html %}
    </div>
</section>

