---
title: News and Events
description: The latest announcements and news for Stanford Computational Journalism
image_url: /files/images/photos/StanfordArches_overlay_red.jpg
banner: true
banner_text: The latest announcements and news for Stanford Computational Journalism
layout: landing-page
---
<div class="sec major">

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <h3>News</h3>
      {% include news_page/news_section.html %}
    </div>
    <div class="col-sm-4">
      <h3>Events</h3>
      {% include news_page/events_section.html %}
    </div>
  </div>
</div>

</div>
