---
title: News
description: The latest announcements and news for Stanford Computational Journalism
image_url: /files/images/photos/StanfordArches_overlay_red.jpg
banner: true
layout: landing-page
---

<div class="news-page">

  <section class="sec">
    <h2>
      News
    </h2>
    <h4>
      The latest updates and announcements for the Stanford Computational Journalism Lab.
    </h4>
     <p>
      <strong>Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></strong>
    </p>
  </section>

  <section class="sec">
    {% include news-list.html %}
  </section>

  <p class="rss-subscribe">Subscribe
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </p>


</div>

  <section class="sec">
    <h2>
      Events
    </h2>
    <h4>
      Seminars and workshops happening around the Stanford campus that pertain to data.
    </h4>
      {% include events-listing.html %}
  </section>

  <section class="sec">
    <div class="container">

      {% include homepage/home-subscribe.html %}

    </div>
  </section>
