---
title: Projects
image_url: /files/images/photos/ExcelBridgeData_overlay_red.jpg
banner: true
---

<p>
We've been exploring transportation data, governmental corruption and campaign finance activity in politics. But it's just the beginning.
</p>


<section class="sec major">
  {% include projects_page/projects_section.html %}
</section>
<section class="sec major">
  {% include projects_page/classes_section.html %}
</section>
<section class="sec major">
    {% include projects_page/tutorials_section.html %}
</section>
