.site-footer{
  background: $body-accent;
  padding-bottom: 3.0em;
  padding-top: 2.0em;

  img.logo{
    max-height: 120px;
  }

  .nav-list{
    font-size: 0.9rem;
    text-transform: uppercase;
  }

  .contact{
    margin-bottom: 0.5em;
  }


  .footer-logo img{
    max-width: 100%;
  }
}
