.site-header{
  border-bottom: thin solid #ddd;
  padding-top: 0.3em;
  background-color: inherit;
  margin-bottom: 0;

  &.navbar, &.navbar-fixed{
    min-height: 10px;
  }

  .nav-items{
    font-size: 13px;
    padding: 0.2em 0;
    background: $body-accent;
    ul{
      margin-bottom: 0;
    }
  }
}




/* headroom stuff */
.headroom {
  transition: all 0.4s ease;
}
.headroom--pinned {

}

.headroom--unpinned {

}
