


<h1 class="sec-title">Reports</h1>
<p>What we're learning about interdisciplinary projects in data journalism.</p>
&nbsp;
<h3>Tech Team Report</h3>
<p>After 10 weeks of experimenting with a myriad of data tools in Cheryl Phillips' "Becoming a Watchdog: Investigative Reporting Techniques" Spring 2015 course, students on the class' technology team wrote up their experience as a guide for others. The guide covers everything from web scraping to mapping and data visualization, with pros, cons and opinions on how easy each program or software package is to use. It shares the experiences of the class as they worked through their projects.</p>

<a href="/tech-team-report" target="_blank" class="btn btn-primary" role="button">Read the report</a>
