


<h1 class="sec-title">Publications</h1>

&nbsp;

<h3>Democracy's Detectives</h3>
<p>In a new book, Jay Hamilton writes about how changes in media markets have put local investigative reporting particularly at risk. But new combinations of data and algorithms may make it easier for journalists to discover and tell the stories that hold institutions accountable. 
</p>

<a href="/democracys-detectives-jay-hamilton" target="_blank" class="btn btn-primary" role="button">Learn more</a>
<br>
&nbsp;
<br>

<h3>Teaching Data and Computational Journalism Report</h3>
<p>Cheryl Phillips co-authored the "Teaching Data and Computational Journalism" report, published by Columbia Journalism School and The Knight Foundation. This 88-page book covers the history of data journalism, a survey of data journalism education in higher education today and models for integrating data journalism education into journalism and communication departments. Since the publication of the report, co-author Charles Berret and Phillips have spoken at a variety of conferences in in smaller groups with education leaders to help set the path forward for journalism schools in terms of teaching data journalism.</p>

<a href="https://www.gitbook.com/book/columbiajournalism/teaching-data-computational-journalism/details" target="_blank" class="btn btn-primary" role="button">Read the report</a>
<br>
&nbsp;
<br>
<h3>Tech Team Report</h3>
<p>After 10 weeks of experimenting with a myriad of data tools in Cheryl Phillips' "Becoming a Watchdog: Investigative Reporting Techniques" Spring 2015 course (co-taught with Stanford Engineering Professor Bill Behrman and director of <a href="https://datalab.stanford.edu/" target="_blank">Stanford’s Data Lab</a>), students on the class' technology team wrote up their experience as a guide for others. The guide covers everything from web scraping to mapping and data visualization, with pros, cons and opinions on how easy each program or software package is to use. It shares the experiences of the class as they worked through their projects.</p>

<a href="/tech-team-report" target="_blank" class="btn btn-primary" role="button">Read the report</a>


