<!-- not currently used -->

<ul class="class-lists list-unstyled">
  {% for ev in site.data.courses %}
    <li>
      <h3 class="title">
        <a href="{{ev.url}}">
          {{ ev.title }}
          (<span class="listing">{{ev.listing}}</span>)
        </a>
      </h3>
        <div class="quarter">
            {{ ev.quarter }}
        </div>
      {% if ev.description %}
        <div class="teacher">
          Taught by: {{ ev.teacher }}
        </div>
        <div class="description">
          {{ev.description | markdownify }}
        </div>
      {% endif %}

      <a href="{{ev.url}}">More info...</a>
    </li>
  {% endfor %}
</ul>
