<ul class="class-lists list-unstyled">
  {% for ev in site.data.class_desc %}
    <li>
      <h3 class="summary">{{ ev.summary }}</h3>
        <div class="date dtstart">
            {{ ev.date_start }}
        </div>
      {% if ev.description %}
        <div class="description">
          {{ev.description | markdownify }}
        </div>
      {% endif %}
      {% if ev.more_info_url %}
        <div class="more-info-url">
            <a href="{{ev.more_info_url}}">More info...</a>
        </div>
      {% endif %}
    </li>
  {% endfor %}
</ul>
