{% assign person=include.person %}
<div class="person">
  <div class="row">
    <div class="col-sm-4">
        <div class="photo">
          <img src="{{person.photo}}" alt="Photo of {{ person.full_name }}">
        </div>
    </div>

    <div class="col-sm-8">
        <div class="name">
          {{ person.full_name }}
        </div>
      <div class="title">
        {{ person.title }}
      </div>
      <div class="bio">
        {{ person.bio | markdownify }}
      </div>


      <a class="twitter-follow-button" href="https://twitter.com/{{ person.twitter }}" data-size="large">Follow @{{ person.twitter }}</a>


    </div>
  </div>
</div>




