

<p class="rss-subscribe">
<a class="btn btn-primary" href="{{ " /feed.xml " | prepend: site.baseurl }}">Subscribe via RSS</a>
</p>


{% for post in site.posts limit: post_limit %}
    <div class="post news-item">
      <div class="header">
        <div class="post-meta">
          <div class="post-date">{{ post.date | date: "%B %-d, %Y" }}</div>
        </div>
      </div>

        <div class="title">
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        <div class="text">
            <p>{{post.description}}</p>
        </div>
      </div>
{% endfor %}







<p class="rss-subscribe">
<a class="btn btn-primary" href="{{ " /feed.xml " | prepend: site.baseurl }}">Subscribe via RSS</a>
</p>
