
// define blackness
$gray-base:              #000 !default;
// Probably should leave these alone for the most part
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 85.5%) !default; // #eee



$brand-primary:         #8C1515; // cardinal red
// Probably should leave these alone for the most part
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


.branded{
  color: $brand-primary;
}


//** Background color for `<body>`.
$body-bg:               #fffdfd !default;
$body-accent:           #f4eded !default;
//** Global text color on `<body>`.
$text-color:            $gray-dark !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;


a {
	color: $link-color;
	&:hover,
	&:focus {
	  color: $link-hover-color;
	}
}

::selection {
  background: #AE5B5B; /* custom highlight color */
}



$code-color:                  #aa253e !default;
$code-bg:                     inherit !default;
