<ul class="list-inline">
    <li>
      <a href="mailto:jayth@stanford.edu?Subject=Regarding Stanford CJ Lab" target="_top">
        <i class="fa fa-envelope fa-sm"></i>
        Email
      </a>
    </li>
    <li>
      <a href="https://twitter.com/stanfordjourn">
        <i class="fa fa-twitter fa-sm"></i>
        Twitter
      </a>
    </li>
    <li>
      <a href="https://www.facebook.com/StanfordJournalism">
        <i class="fa fa-facebook fa-sm"></i>
        Facebook
      </a>
    </li>
    <li>
      <a href="#TK">
        <i class="fa fa-github fa-sm"></i>
        Github
      </a>
    </li>
    <li>
      <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
        <i class="fa fa-rss fa-sm"></i>
        RSS
      </a>
    </li>
  </ul>
