<!-- <div class="row contact-list">

  {% for i_obj in site.data.contact_us_list %}
    {% assign item_name=i_obj[0] %}
    {% assign item=i_obj[1] %}
    <div class="col-xs-2">
      <div class="contact">
          <a href="{{item.href}}">
            <i class="fa fa-{{item.icon}}"></i>
          </a>
      </div>
    </div>
  {% endfor %}
</div>
 -->

<ul class="contact-list nav">
  {% for i_obj in site.data.contact_us_list %}
    {% assign item_name=i_obj[0] %}
    {% assign item=i_obj[1] %}
      <li class="contact nav-item">
          <a href="{{item.url}}" class="nav-link">
            <i class="fa fa-{{item.icon}}"></i>
          </a>
      </li>
  {% endfor %}
</ul>

