<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ul class="list-inline nav-list">
                    {% include nav-list-items.html %}
                </ul>
            </div>
            <div class="col-sm-4">
                {% include site/contact-list.html %}
            </div>
        </div>

                <img class="logo img-responsive" src="{%asset_path cj-logo.png%}">

        <div class="copyright">
            © <a href="http://www.stanford.edu/">Stanford University</a>, Stanford, California 94305
        </div>
    </div>
</footer>
