<!-- footer -->
<footer class="site-footer">

    <section class="sec" style="padding-top: 1.5em; border-top: thin solid #ccc;">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <strong>Search</strong> the site:
                </div>
                <div class="col-sm-9">
                    {% include social/google-search.html %}
                </div>
            </div>
        </div>
    </section>



    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <ul class="list-inline nav-list">
                    {% include nav-list-items.html %}
                </ul>
            </div>
            <div class="col-sm-4">
                {% include site/contact-list.html %}
            </div>
        </div>

                <img class="logo img-responsive" src="{%asset cj-logo.png @path%}">

        <div class="copyright">
            © <a href="http://www.stanford.edu/">Stanford University</a>, Stanford, California 94305

        </div>
    </div>
</footer>
