<!-- footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <ul class="list-inline nav-list">
                    {% include nav-list-items.html %}
                </ul>
            </div>
            <div class="col-sm-3">
                {% include site/contact-list.html %}
            </div>
        </div>
        <div>
            <a href="/"><img class="logo img-responsive" src="/assets/images/cj-logo.png"></a>
        </div>
    </div>
</footer>
