<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- Standard meta -->
  {% if page.title %}
      {% assign meta_title = page.title %}
    {% else %}
      {% assign meta_title = site.title %}
  {% endif %}

  {% if page.description %}
    {% assign meta_description = page.description %}
  {% elsif page.excerpt %}
    {% assign mega_description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
  {% else %}
    {% assign meta_description = site.description %}
  {% endif %}

  {% assign meta_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}


  <title>{{meta_title}}</title>
  <meta name="description" content="{{ meta_description }}">
  <link rel="canonical" href="{{ meta_url }}">
  <!-- Facebook OpenGraph stuff  https://developers.facebook.com/docs/sharing/best-practices  -->
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:title" content="{{ meta_title }}" />
  <meta property="og:url" content="{{ meta_url }}" />
  <meta property="og:description" content="{{ meta_description }}" />
<!--   <meta property="og:image" content="{{site.meta_thumbnail_url}}" />
 -->
  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl }}" type="image/x-icon" />

  <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
  <script src="{{"/assets/js/vendor/jquery.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/assets/js/vendor/headroom.js" | prepend: site.baseurl }}"></script>
  <script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
</head>
<body>


{% if page.hide_header != true %}
  {% include site/header.html %}
{% endif %}
