<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% include site/head-seo.html %}
  {% include social/twitter-card.html %}
  {% include social/twitter-widget-js.html %}

  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | prepend: site.baseurl | prepend: site.url }}" type="image/x-icon" />
  <link rel="stylesheet" href="{{ "/assets/stylesheets/main.css" | prepend: site.baseurl }}">
  <script src="{{"/assets/javascripts/vendor/jquery.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/assets/javascripts/vendor/bootstrap4/collapse.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/assets/javascripts/vendor/bootstrap4/dropdown.js" | prepend: site.baseurl}}"></script>
  <script src="{{"/assets/javascripts/vendor/bootstrap4/util.js" | prepend: site.baseurl}}"></script>

  <script src="{{"/assets/javascripts/vendor/headroom.js" | prepend: site.baseurl }}"></script>
  <script src="{{"/assets/javascripts/vendor/smooth-scroll.js" | prepend: site.baseurl }}"></script>
  <script src="{{"/assets/javascripts/vendor/stellar.js" | prepend: site.baseurl }}"></script>

  <script src="{{ "/assets/javascripts/main.js" | prepend: site.baseurl }}"></script>

  {% include social/google-analytics.html service_id="UA-68150677-1" %}

</head>
<body class="{% if page.hide_header != true %}with-header{% endif %}">
{% if page.hide_header != true %}
  {% include site/header.html %}
{% endif %}
