<nav id="header-headroom" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <ul class="nav navbar-nav">
            <li class="pull-left">
                <a class="nav-link" id="mast-logo" href="/">
                    <strong class="monospace">{</strong>
                    <h1>Stanford Computational Journalism Lab</h1>
                    <strong class="monospace">}</strong>
<!--
<img class="logo" src="{%asset_path cj-logo-line.png%}" alt="CJ Lab">
 -->                </a>
            </li>
            <li class="pull-right hidden-sm-up">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingMainNavBar">
                &#9776;
                </button>
            </li>
            <div class="pull-right collapse navbar-toggleable-xs" id="collapsingMainNavBar">
                {% include nav-list-items.html %}
            </div>
        </ul>
    </div>
</nav>
