{% if include.image_url %}
<div class="banner hero spread" style="background-image: url({{include.image_url}});" data-stellar-background-ratio="0.5">
{% else %}
<div class="banner hero spread">
{% endif %}

  <div class="container">
    <div class="banner-block">
      <h1 class="banner-title">
        {{ include.title }}
      </h1>
      {% if include.banner_text %}
        <p class="banner-statement">
          {{ include.banner_text }}
        </p>
      {% endif %}
    </div>
  </div>
</div>
