.person{
  background: $gray-lighter;
  margin-bottom: 20px;
  padding: 20px;

  .name{
    color: $brand-primary;
    font-size: 24px;
    font-weight: bold;
  }

  .title{
    font-size: 22px;
    font-weight: bold;
    color: $brand-primary;
  }
}



