.banner{
  background-color: #000;
  background: url(/assets/images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  text-shadow: 1px 1px 1px #000;
  background-position: 50% 0%;

  .banner-block{
  }

  .banner-title{
    color: white;
    text-align: center;
    font-size: 4.0em;
  }

  .banner-deck{
    text-align: center;
    font-size: 1.8em;
    line-height: 1.6em;
  }
}
