.layout-homepage{
  .home-cal{
    padding: 20px;
    background: #fde;
    .summary{
      font-size: 12px;
      color: green;
      margin-bottom: 0;
    }
  }

  #homepage-banner{
    .nav{
      text-align: center;
      padding: 10px 0px;
      background: $body-accent;

      li{
        font-size: 1.3em;
        font-weight: bold;
        padding: 0 1.5em;
      }
    }
  }
}
