.layout-homepage{

  .call-to-action{
    text-align: center;
  }

  h1.title{
    text-align: center;
    font-weight: 400;
    font-size: $font-size-h1 * 1.3;
    margin-bottom: 1.2em;
  }

  .home-cal{
    padding: 20px;
    background: #dadada;
    .summary{
      font-size: 18px;
      color: #8C1515;
      margin-bottom: 0;
    }
  }

  .news-list{
    .post-title{
      font-size: $font-size-lg;
      margin: 1px 0;
    }
  }
}



#home-subscribe{
  background: $brand-primary;
  padding: 3.0em 0;
  .description, .title{
    color: white;
  }
  .title{
    margin-bottom: 1.0em;
    text-align: center;
  }
}

