---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
@import
        "custom_vars/colors",
        "custom_vars/grid",
        "custom_vars/typography",
        "vendor/bootstrap4/bootstrap",
        "vendor/font-awesome/font-awesome",
        "vendor/animate",
        "site/footer",
        "site/header",
        "site/syntax",
        "site/code",
        "site/pages/about",
        "site/pages/banner",
        "site/pages/calendar",
        "site/pages/courses",
        "site/pages/news",
        "site/pages/post",
        "site/pages/home",
        "site/pages/page",
        "site/pages/spread"
        ;


body{

}

.sec{
    padding: 3.5em 0;

    &.major{
        padding: 7.0em 0;
    }

    .sec-title{
        text-align: center;
        font-weight: 400;
        font-size: $font-size-h1 * 1.3;
        margin-bottom: 1.2em;

    }
}


.animate-intro{
    @extend .animated;
    @extend .fadeInDown;
    animation-duration: 1s;
}



/* TK MOVVE THIS SOMEWHERE ELSE */
.hero{
  padding-top: 15rem;
  padding-bottom: 8rem;
}
