.spread{
  background-color: $body-bg;
  background-repeat: no-repeat;
  overflow-y: hidden ! important;
  overflow-x: hidden ! important;
  background-attachment: fixed;
  background-position: 50% 0%;
}

