/* headroom stuff */
.headroom {
  transition: all 0.5s ease;
}

#mast-logo{
  h1{
    font-size: 0.80rem;
    font-family: $font-family-serif;
    margin: 0 0;
    font-weight: 400;
    display: inline;
  }
}



.navbar{
  background-color: $body-bg;
  color: $brand-primary;
  border-bottom: thin solid #333;
  padding: 2rem 1rem;

  .nav-link{
    font-size: 0.75rem;
    padding-top: 0.20rem;
    padding-bottom: 0.1rem;
    color: inherit;
    transition: all 0.5s ease;

  }

  .navbar-toggler{
    padding: 0 0;
  }
}

.headroom--unpinned{
  background-color: $brand-primary;
  color: #FFF;
  // transform: translateY(-10%) scaleY(0.5);
  border-bottom: thin solid #ddd;
  padding: 0.3rem 1rem;

  .hvr-underline-from-left:before{
    background: #FFF;
  }
  // font-size: 0.6rem;
  // padding: $navbar-padding-vertical * 0.2 $navbar-padding-horizontal * 0.2;
}


/* Extra Small Devices, Phones */
@include media-breakpoint-down(md){
  .navbar{
      padding: 0.3rem 1rem;

      .nav-item, .nav-item+.nav-item{
        margin-left: 0.5rem;
      }
      .nav-link{
        font-size: 0.62rem;
      }
  }
}

@include media-breakpoint-down(sm){
  .navbar{
      .nav-item, .nav-item+.nav-item{
        float:none;
        margin-left: 0;
      }
  }
}
