@charset "utf-8";

$fa-font-path: "/assets/fonts/font-awesome";

@import "custom_vars/colors",
        "custom_vars/grid",
        "custom_vars/typography",
        "vendor/bootstrap4/bootstrap",
        "vendor/font-awesome/font-awesome",
        // "vendor/animate",
        "site/effects",
        "site/footer",
        "site/header",
        "site/syntax",
        "site/code",
        "site/pages/about",
        "site/pages/banner",
        "site/pages/courses",
        "site/pages/initiatives",
        "site/pages/news",
        "site/pages/post",
        "site/pages/home",
        "site/pages/page",
        "site/pages/spread"
        ;


.btn{
    transition: all 0.3s ease 0s;
}


blockquote{
    @extend .blockquote;
}

.sec{
    padding: 3.5em 0;

    &.major{
        padding: 7.0em 0;
    }

    .sec-title{
        text-align: center;
        font-weight: bold;
        font-size: $font-size-h1 * 1.4;
        margin-bottom: 1.2em;

    }
}


.animate-intro{
    @extend .fadeInUp;
    animation-duration: 0.5s;
}

.feature.item{
    background: $body-bg;
}

/* TK MOVVE THIS SOMEWHERE ELSE */
.hero{
  padding-top: 12rem;
  padding-bottom: 8rem;
}




.back-tile-dark{
    // background-color: #222;
    background-image: url("/files/images/tiles/binding_dark.jpg");
    background-repeat: repeat;
    color: white;
}

.back-tile-neutral{
    // background-color: $body-bg;
    background-image: url("/files/images/tiles/brushed_alum.jpg");
    background-repeat: repeat;
}

.back-tile-white{
    // background-color: #FFF;
    background-image: url("/files/images/tiles/brushed_white_alum.jpg");
    background-repeat: repeat;
}


body{
    background-color: $body-bg;
    @extend .back-tile-white;
}


.pulsing{
        @extend .hvr-underline-reveal;

}

.clickable{
    @extend .hvr-bob;
    @extend .hvr-box-shadow-outset;
    cursor: pointer;
}

.nav-link{
    @extend .pulsing;
    font-family: $headings-font-family;
}



.pushme{
    @extend .hvr-sink;
    @extend .fa;
    @extend .fa-2x;

    cursor: pointer;
    color: $brand-primary;
    text-shadow: 1px 1px 1px #555;
    text-decoration: none;
    transition: all 0.5s ease;
    &:hover{
        color: white;
        text-decoration: none;
    }
    &:visited, &:active{
        text-decoration: none;
    }
}



@media only screen and (max-width : 480px) {
  body{
    font-size: 0.9rem;
  }

  .sec .sec-title, .sec-title{
    font-size: 2.2rem;
  }

  .sec.major{
    padding: 2.0em 0;
  }
}
