{% assign item=include.item %}
{% if item.image_url %}
  {% assign item_imgurl=item.image_url%}
{% else %}
  {% assign item_imgurl="http://placehold.it/400x400" %}
{% endif %}
<div class="card card-block feature item" data-href="{{item.url}}">
    <div class="row">
        <div class="col-sm-3 hidden-sm-down">
            <img src="{{item_imgurl}}" alt="TK" class="img-responsive">
        </div>
        <div class="col-sm-9">
            <h5 class="title"><a href="{{item.url}}">{{item.title}}</a></h5>
            <div class="description">{{item.description}}</div>
        </div>
    </div>
</div>
