.site-footer{
  background: $body-bg;
  margin-top: 1.0em;
  padding-bottom: 3.0em;
  padding-top: 1.5em;
  @extend .back-tile-white;

  img.logo{
    max-height: 100px;
    margin-bottom: 0.5em;
  }

  .nav-list{
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .contact-list{
    text-align: center;
  }
  .contact{
    @extend .pulsing;
    margin-bottom: 0.5em;
  }

  .copyright{
    font-size: $font-size-sm;
  }

  .footer-logo img{
    max-width: 100%;
  }
}
