.site-footer{
  background: $body-bg;
  padding-bottom: 3.0em;
  padding-top: 2.5em;
  @extend .tessel_back;

  img.logo{
    max-height: 100px;
    margin-bottom: 0.5em;
  }

  .nav-list{
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .contact-list{
    text-align: center;
  }
  .contact{
    @extend .hvr-grow;
    margin-bottom: 0.5em;
  }


  .footer-logo img{
    max-width: 100%;
  }
}
