<div class='mod modTeamMember {{include.class}}'>
  <div class='member'>
    <img class="avatar" width="250" height="250" alt="" src="{{include.avatar}}" />
    <div class='overlay'>
      <ul class='socials'>
        {% for social in include.socials %}
          <li>
            <a href='{{social.url}}'>
              <i class='fa fa-{{social.icon}}'></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <h3>{{include.name}}</h3>
  <p class='position'>{{include.position}}</p>
  <p>{{include.desc}}</p>
  <div class='two spacing'></div>
</div>